///////////////////////////////////////////////////////////////////////////////
// MY_INFO VARS
///////////////////////////////////////////////////////////////////////////////
$font-sans: "Raleway", "Helvetica Neue", Arial;
$font-serif: "Georgia";

$red: #dc5235;
$white: #fff;
$gray: #666;
$fg-color: #fff;
$bg-color: #1f1f1f;
$twitter-color: #00aced;
$selected-color: #060606;

///////////////////////////////////////////////////////////////////////////////
// BOOTSTRAP VARS
///////////////////////////////////////////////////////////////////////////////
$navbar-height: 40px;
$link-color: $fg-color;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
