@import "vars";
@import "../../../../components/bower_components/sass-bootstrap/lib/mixins";

body {
  text-align: center;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  @media (min-width: 768px) {
    vertical-align: middle;
  }
}

.cover-container {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 992px) {
    width: 700px;
  }
}

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  @include button-variant($white, $twitter-color, $twitter-color);
}

.cover-heading {
  font-variant: small-caps;
}

.lead, .cover-heading {
  position: relative;
  z-index: 1;
}

.icon-twitter {
  position: absolute;
  font-size: 420px;
  left: -30%;
  top: -50%;
  line-height: 0;
  color: #000;
  z-index: 0;
}

$width-input: 80%;

input {
  padding: 15px 20px;
  width: $width-input;

  & + em {
    display: block;
    font-size: 12px;
    font-family: $font-serif;
    width: $width-input;
    margin: 0 auto;
    text-align: left;
    color: $gray;
    margin-top: 5px;
  }
}

.error-input {
  border: 2px solid $red;
}

.inner {
  position: relative;
  padding: 0 20px;
  text-align: center;
}

input {
  color: $bg-color;
}
