@import "vars";
@import "bootstrap";
@import "mixins";
@import "profile_info";
@import "cluster";
@import "tweets";

html, body {
  height: 100%;
}

body {
  font-family: $font-sans;
  background-color: $bg-color;
  color: $fg-color;
}

footer {
  text-align: center;
  color: #999;

  span {
    color: $red;
  }

  @media (min-width: 768px) {
    position: fixed;
    bottom: 0;
  }

  @media (min-width: 992px) {
    width: 700px;
  }
}

@include selection {
  background: $selected-color;
}
