{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>my_info</title>
</head>
<body>
    <h1>Hi {{ user.first_name }} <i>@{{ user}}</i> {{ user.last_name }}!</h1>

    <div id="cluster">loading...</div>

    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script>
        window.my_info = {
            urls: {
                cluster: "{% url "cluster" %}"
            }
        };
    </script>
    <script src="{% static "d3/d3.js" %}"></script>
    <script src="{% static "js/cluster.js" %}"></script>
</body>
</html>