{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ nick }}'s tweets | my_info</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "stylesheets/style.css" %}" />
</head>
<body>
    <div class="tweet-and-cluster">
{#        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">#}
{#            <div class="container">#}
{#                <div class="navbar-header">#}
{#                    <a class="navbar-brand" href="#">My Info</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="row">
            <div class="col-md-3">
                <div id="profile-info">
                    <img src="{{ image }}" alt="{{ nick }}" />
                    <h1>{{ full_name }}</h1>
                    <h1><small>@{{ nick }}</small></h1>

                    <p>{{ bio }}</p>

                    <table class="table">
                         <tr>
                            <td>{{ tweets_count }}</td>
                            <td>{{ following_count }}</td>
                            <td>{{ followers_count }}</td>
                        </tr>
                    </table>

    {#                {{ location }}#}
                </div>
            </div>
            <div class="col-md-9">
                <div id="cluster">loading...</div>
            </div>
        </div>
    </div>

    <div id="tweets" class="overlay overlay-contentscale">
    </div>

    <script id="tweet-template" type="text/template" class="template">
        <button type="button" class="overlay-close">Close</button>
        <ul>
            <% _.each(tweets, function(el) { %>
                <li><a href="<%= el[0].url %>" target="_blank"><%= el[0].text %></a></li>
            <% }) %>
        </ul>
    </script>

    <script src="{% static "modernizr/modernizr.js" %}"></script>
    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script src="{% static "underscore/underscore.js" %}"></script>
    <script>
        window.my_info = {
            urls: {
                cluster: "{% url "show_cluster" user_id %}",
                tweets: "{% url "show_tweets" user_id %}"
            }
        };
    </script>
    <script src="{% static "d3/d3.js" %}"></script>
    <script src="{% static "d3-tip/index.js" %}"></script>
    <script src="{% static "js/tweets.js" %}"></script>
    <script src="{% static "js/cluster.js" %}"></script>
</body>
</html>