{% extends "main/__site_base.html" %}

{% block content %}
    {% if not user.email %}
        <div class="container">

        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">personal data</div>
                <div class="col-md-3">tweets</div>
                <div class="col-md-3">annotating</div>
                <div class="col-md-3">clustering</div>
            </div>

            <div id="create-info-page-log" class="row">

            </div>
            <div class="row">
                <div id="show-response" class="col-md-6 col-md-offset-3 hidden">
                    <a href="{% url "show_info_page" user_id %}" class="btn btn-block btn-danger">Checkout your data!</a>
                </div>
            </div>
        </div>

        <script id="status-template" type="text/template" class="template">
            <% _.each(status, function(value) { %>
                <div class="col-md-3"><%= value %></div>
            <% }) %>
        </script>
    {% endif %}
{% endblock %}

{% block extra_script %}
    {% if user.email %}
        <script>
            (function () {
                var tmplStatus = tmplTweets = $("#status-template").html()
                    , end = false
                    , status = []
                    , maxStatus = 4;

                function poll() {
                    if (!end) {
                        $.get("{% url "get_process_status" user_id %}", function (data) {
                            if(data.step == maxStatus) {
                                end = true;
                                $('#show-response').removeClass('hidden');
                            }

                            for(var i=0; i<maxStatus; i++) {
                                if (i <= data.step)
                                    status[i] = "done";
                                else if (i == data.step + 1)
                                    status[i] = "running";
                                else status[i] = "waiting";
                            }

                            $('#create-info-page-log').html(_.template(tmplStatus, {'status': status}));
                        });
                    }
                }

                setInterval(function () {
                    poll();
                }, 1000);
            })();
        </script>
    {% endif %}
{% endblock %}