{% extends "main/_cover.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1 class="cover-heading">Clusterify</h1>
    <i class="icon-twitter"></i>
    <p class="lead">
        Scegliere cosa leggere non è mai stato così semplice.<br>
        Un sistema di classificazione dinamico dei tuoi tweets è pronto all'uso.<br>
        Premi il pulsante. Inizia il gioco.
    </p>

    <p class="lead">
        <a href="{% url "social:begin" "twitter" %}" class="btn btn-lg btn-default">login with twitter</a>
    </p>
{% endblock %}
